vti_encoding:SR|utf8-nl
vti_author:SR|Saudi-HP\\Alan
vti_modifiedby:SR|Saudi-HP\\Alan
vti_timelastmodified:TR|24 Nov 2012 15:47:13 -0000
vti_timecreated:TR|17 Jul 2012 15:39:56 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|cottages/cottages.htm promotions/promotions.htm cottages/Meadowsweet/Meadowsweet.htm attractions/coastal_park/coastal_park.htm facilities/animals/animals.htm facilities/babies/babies.htm site_map/site_map.htm cottages/Cornflower/Cornflower.htm Menu/ordering.htm attractions/attractions.htm attractions/saundersfoot/saundersfoot.htm visitorsBook/visitorsBook.htm attractions/children/children_attractions.htm photo_gallery/photo_gallery.htm default.htm Menu/menu.htm booking/booking.htm facilities/LakesWoods/LakesWoods.htm babies/press.htm attractions/beaches/beaches.htm facilities/beachhut/beachhut.htm default\\ -\\ Copy.htm facilities/facilities.htm contact/contact.htm master.dwt cottages/Cowslip/Cowslip.htm attractions/tenby/tenby.htm facilities/play_area/play_area.htm
vti_nexttolasttimemodified:TW|22 Nov 2012 20:53:46 -0000
vti_cacheddtm:TX|24 Nov 2012 15:47:13 -0000
vti_filesize:IR|5806
vti_cachedlinkinfo:VX|S|layout.css S|../images/LOGOcolorv2Clipped.jpg
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/LOGOcolorv2Clipped.jpg
